[Unit]
Description=The Kubernetes Node Agent
Documentation=https://kubernetes.io/docs/reference/command-line-tools-reference/kubelet/
After=containerd.service crio.service docker.service
[Service]
ConfigurationDirectory=kubernetes
CPUAccounting=true
IPAccounting=true
ExecStart=/usr/bin/kubelet-1.33 --config=/var/lib/kubelet/config.yaml --kubeconfig=/etc/kubernetes/kubelet.conf
KillMode=process
MemoryAccounting=true
StartLimitInterval=0
Restart=on-failure
RestartSec=10
RuntimeDirectory=kubelet
StateDirectory=kubelet
[Install]
WantedBy=multi-user.target
